.button	{
  display: inline-block;
  border-radius: 4px;
  background-color: #111111;
  border-color: #eeeeee;
  border: black;
  color: #DDD;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  width: 100%;
  height: 60px;
  font-size: 35px;
}

.first-half {
    float: left;
    width: 50%;
}
.second-half {
    float: right;
    width: 50%;
}

.data {
  width: 95%;
  margin-left: 5px;
  color: white
}

.img	{
	width: 50vw;
	overflow:	hidden;
  margin-left: 5px;
}

.bodyMain	{
  width:105%;
  align-content: center;
	font-family:	"Calibri";
  height: 105%;
  background-color: black;
  align-self: center;
  overflow-x: hidden;
  margin: -1vw;
  padding: 1vw;
}

.head	{
	margin-top:	10px;
	margin-bottom:	0px;
	width:100%;
}

.btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background-color: #000000;
	width:100%;
	margin-left:	-10px;
  margin-top: -15px;
  margin-right: 0px;
  padding-left: 10px
  align: center;
  padding-top: 15px;

}

.lbl {
	font-size: 16px;
	text-align: center;
  width: 50px;
  height: 30px;
}

.lbls {
	font-size: 35px;
	text-align: center;
  width: 15vw;
  height: 50px;
  color: white;
  background-color: black;
}

.unitsBox {
	text-align: center;
	font-size: 35px;
  background-color: #111111;
  color: white;
  width: 15vw;
  height: 50px;
}

.headImg
{
  height:60px;
  width: 100%;
  margin-left: 35px;
  align: center;
}


img	{
	max-width:100%;
	max-height:100%;
}

.label	{
	width: 100px;
	height: 40px;
}

.matBox {
	width:165px;
	height:35px;
	text-align: center;
	font-size: 35px;
}
.matBoxP {
  width: 100%
	font-size: 35px;
  height: 50px;
  background-color: #111111;
  color: white;
}

.txtBox {
    width: 15vw;
  	text-align: center;
  	font-size: 35px;
    background-color: #111111;
    color: white;
    height: 50px;
}

.specify	{
	color:	#FFF;
	width:102%;
	text-align:	center;
	margin-top:	0;
	margin-right:	0;
  margin-left: -5px;
  background-color: #222222;
  font-size: 45px;
  height: 90px;
}


.head	{
	display:	inline-block;
	margin-top:	0px;
	margin-bottom:	0px;
	width:	100%;
  color: white;
}

.head.h2 {
  font-size: 45px;
}

.head.h3 {
  font-size: 35px;
}

.head.p {
  font-size: 20px;
}

.data.h3 {
    font-size: 40px;
}

.data.ul {
  font-size: 25px;
}

.logo {
  width:100%;
  align-items: center;
}


.imageGrid .tile {
	width:13.5%;
  min-height: 11em;
	line-height: 1.2;
	display:inline-block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color:rgb(0,0,0,0);
	overflow: hidden;
	position: relative;
	border:	2px solid black;
	border-radius: 15px;
	color:#333;
	font-family:"Verdana",sans-serif;
	margin: 1px;
}

.imageGrid .tile:before {
	content: '';
	background-color:rgb(0,0,0,0.1);
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
}

.imageGrid .tile:hover:before {
	display: none;
}

.imageGrid .tile .textWrapper {
	text-align: center;
	width: 95%;
	position: absolute;
	top: 60%;
	font-size: .98em;
}

.imageGrid .tile:hover {
	transform: translateY(-8px);
	text-shadow: 12px 12px 12px #000;
	transition-timing-function: ease;
	transition: 0.2s;
}

.imageGrid .tile:active	{
	transform: translateY(8px);
	img: rgba(3,3,3,0.1);
  color: black;
}

.imageGrid .tile .textWrapper .content {
	display: none;
}

.imageGrid .tile:hover .textWrapper .content {
	display: block;
}

.imageGrid .tile:hover .textWrapper h2 {
	margin: 0;
	transform: translateY(-6px);
	transition-timing-function: ease;
	transition: 0.4s;
  color: black;
}


@media (max-width: 1000px) {
	.imageGrid .tile {
		width: 48%;
		max-width:	100%;
		min-height:13em;
	}
}

@media (max-width: 700px) {
	.imageGrid .tile {
		width: 48%;
		max-width:	100%;
		min-height:13em;
	}
}
