.button	{
  display: inline-block;
  border-radius: 4px;
  background-color: #111111;
  border-color: white;
  border: black;
  color: #DDD;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 3px;
  font-size: 36px;
}


.first-half {
    float: left;
    width: 50%;
}
.second-half {
    float: right;
    width: 50%;
}

.data {
  width: 95%;
  margin-left: 5px;
  color: white;
}

.img	{
	overflow:	hidden;
  margin: 0 40px;
  width: 30vw;
}

a {
  color: blue;
  font-size: 25px;
}

.diffA {
  color: blue;
  font-size: 15px;
  padding-left: 60vw;
}

.bodyMain	{
  align-content: center;
  font-family:	"Calibri";
  background-color: black;
  align-self: center;
  overflow-x: hidden;
  overflow-y: auto;
  width: inherit;
  height: inherit;

}
form {
  padding: 0px 2vw 0px 2vw;
}

.head	{
	margin-top:	10px;
	margin-bottom:	0px;
	width:100%;
}

.btnDiv, .btnDivPressure {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 15px;
}

.spacingDiv4 {
  width: 24vw;
}

.btnDivPressure {
  padding: 10px 0px;
  width: 96vw;
  height: 3vh;
}

.headToolTable {
  width: 95vw;
}

.headToolTable tr{
  height: 5vh;
}

.HeadDiv1 {
  float: left;
  width: 96vw;
}

.HeadDiv2 {
  float: left;
  width: 96vw;
  padding: 0 0 2vh 0;
}

.HeadDiv3 {
  float: left;
  width: 96vw;
}

.HeadDiv4 {
  float: left;
  width: 96vw;
  padding: 2vh 0 0 0;
}

.HeadDiv5 {
  float: left;
  width: 96vw;
  padding: 0 0 2vh 0;
}

.HeadDiv6 {
  float: left;
  width: 96vw;
  padding: 2vh 0 0 0;
}

.HeadDiv7 {
  float: left;
  width: 96vw;
  padding: 0 0 2vh 0;
}

.HeadDiv1 .headToolTable {
  width: 96vw;
}

label .lbl {
	font-size: 35px;
	text-align: center;
  width: 50px;
  height: 30px;
  color: white;
}

.lbls {
  width: 100%;
  min-width: 10vw;
  height: 70px;
  color: white;
  background-color: black;
  padding: 2px 2px 2px 2px;
}

.unitsBox {
  background-color: #111111;
  color: white;
  width: 100%;
  height: 50px;
  float: left;
  max-width: 11vw;
  float: right;

}

.headImg
{
  height:60px;
  width: 100%;
  margin-left: 35px;
  align: center;
}


img	{
  width: 100%;
}

.label	{
	width: 100px;
	height: 30px;
}

.spacingDiv1 {
  width: 0px;
}

.spacingDiv2 {
  width: 10vw;
}
.spacingDiv3 {
  width: 0vw;
}

.pressureTable td {
    width:1%;
    white-space:nowrap;
}

.pressureTable tr {
    height: 6vh;
}

.pressureTable {
  width: 95vw;
}

.pressureLeftTable {
  padding: 2vh 0 0 2vw;
  float: left;
}

.pressureLeftTable .pressureTable {
  width: 72vw;
}

.pressureRightTable {
  padding: 0 0 2vh 2vw;
  float: left;
}

.pressureCentreTable {
  padding: 2vh 0 2vh 2vw;
  float: left;
}

.lbls , .matBoxP , .matBox, .txtBox , .unitsBox {
  text-align: center;
  font-size: 36px;
  margin: 5px 5px 5px 5px;
  width: 100%;
  color: white;
  white-space: nowrap;
  min-width: 10vw;
  border-radius: 15px;
  height: 60px;
  padding: 0px;
}

.matBox {
  width: 100%;
  background-color: #111111;
}

.matBoxP {
  background-color: #111111;
  margin: 0;
  width: auto;
  float: right;

}

.txtBox {
    background-color: #111111;
    max-width: 15vw;
    min-width: 15vw;
    height: 60px;
    float: right;
}

.specify	{
	color:	#FFF;
	width:120vw;
	text-align:	center;
  margin-left: -10vw;
  background-color: #222222;
  font-size: 45px;
}

.lhDiv {
    float: right;
    position: top;
    text-align: right;
}


.header	{
	width:	80vw;
  color: white;
  float: left;
}

.header h2 {
  font-size: 60px;
}

.header h3 {
  font-size: 35px;
  color: #888;
}

.header p {
  font-size: 20px;
}

.data h3 {
  font-size: 35px;
}

.data ul li {
  font-size: 20px;
}

.dataTable tr {
  height: 60px;
}

.dataTable {
  width: 95%;
}

.imageGrid table {
  table-layout: fixed ;
  width: 100% ;
}
.imageGrid table td {
  width: 30% ;
}

.bodyMain .logoProd, .bodyMain .logoPress, .bodyMain .logoHead, .bodyMain .logoIndex  {
  padding-bottom: 15px;
  background-color: black;
}

.bodyMain .logoIndex {
  float: left;
  margin-left: 25vw;
  margin-top: 3vh;
  width: 50vw;
}

.bodyMain .logoPress {
  float: right;
  width: 40vw;
}

.bodyMain .logoHead {
  float: right;
  width: 40vw;
}


.bodyMain .logoProd {
  float: left;
  margin-left: 25vw;
  margin-top: 3vh;
  width: 50vw;
}

.imageGrid {
  padding-left: 1px;
  padding-right: 3px;
}

.imageGrid .tile img {
  padding-bottom: 2vh;
}

.imageGrid .tile {
	width:100%;
  min-height: 25vh;
	line-height: 1.2;
	display:inline-block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color:rgb(0,0,0,0);
	position: relative;
	border:	1px solid #888F;
	border-radius: 35px;
	font-family:"Verdana",sans-serif;
	margin: 1px;
}

html,body
{
    width: 100%;
    height: 105%;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
}

.imageGrid .tile:before {
	content: '';
	background-color:rgb(0,0,0,0.1);
	display: block;
	width: 100%;
	height: 100%;
	z-index: 0;
	position: absolute;
}

.imageGrid .tile:hover:before {
	display: none;
}

.imageGrid .tile .textWrapper {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 60%;
  color: #CCC;
}

.imageGrid .tile .textWrapper .h2 {
  font-size: 20px;
}

.imageGrid .tile .textWrapper .content {
	display: none;
}

#spec1 {
    float: left;
    width: 95vw;
}

#spec2 {
    float: left;
    width: 95vw;
}

#spec3 {
    float: left;
    width: 95vw;
}

#spec4 {
    float: left;
    width: 95vw;
}

#spec5 {
    float: left;
    width: 95vw;
}
/*
.imageGrid .tile:hover {
	transform: translateY(-8px);
	text-shadow: 12px 12px 12px #000;
	transition-timing-function: ease;
	transition: 0.2s;
}

.imageGrid .tile:active	{
	transform: translateY(8px);
}
*/
/*
.imageGrid .tile:hover .textWrapper .content {
	display: block;
}

.imageGrid .tile:hover .textWrapper h2 {
	margin: 0;
	transform: translateY(-6px);
	transition-timing-function: ease;
	transition: 0.4s;
}


@media (max-width: 1000px) {
	.imageGrid .tile {
		width: 48%;
		max-width:	100%;
		min-height:13em;
	}
}

@media (max-width: 700px) {
	.imageGrid .tile {
		width: 48%;
		max-width:	100%;
		min-height:13em;
	}
}
*/
